<!DOCTYPE html>
<html lang="en">
<head>
  <title>Monopattini</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1>Mono-Rent Noleggio Monopattini </h1>
          <br>
          <p *ngIf="askIsVisible"><a href = "#" (click)='makeLoginVisible()'>Login</a> o <a href = "#" (click)='makeSignupVisible()'>Sign Up</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8" *ngIf="loginIsVisible">
          <app-login> </app-login>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-sm-8" *ngIf="signupIsVisible">
          <app-signup> </app-signup>
        </div>
      </div>

  </div>

</body>
</html>
